<form [formGroup]="plantaform">
    <div class="forms-fields" >

    <mat-form-field>
        <mat-label>nombre</mat-label>
        <input  [(ngModel)]="plantaforms.nombre"matInput formControlName="nombre" >
      </mat-form-field>

      <mat-form-field>
        <mat-label>nombre cientifico</mat-label>
        <input [(ngModel)]="plantaforms.nombre_cientifica" matInput formControlName="nombre_cientifica">
      </mat-form-field>

      <mat-form-field>
        <mat-label>nombre en quichua</mat-label>
        <input [(ngModel)]="plantaforms.nombre_quichua" matInput formControlName="nombre_quichua"  >
      </mat-form-field>
      

      <mat-form-field>
        <mat-label>orden</mat-label>
        <mat-select [(ngModel)]="plantaforms.nombre_orden" formControlName="nombre_orden">
          <div *ngFor="let items of ordenes">
          <mat-option [value]="items.nombre" >
            {{items.nombre}}</mat-option>
            
          </div>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>familia</mat-label>
        <mat-select [(ngModel)]="plantaforms.nombre_familia" formControlName="nombre_familia" >
          <mat-option [value]="item.nombre" *ngFor="let item of familias">{{item.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descripcion</mat-label>
        <textarea [(ngModel)]="plantaforms.descripcion" matInput formControlName="descripcion" ></textarea>
      </mat-form-field>
      <input  type="file" (change)="onFotoSeleccionada($event)" mat-raised-button color="primary">
    </div>
  </form>
    <div class="square">
      <div class="fotito" *ngIf="previsualizacion">
        <img width="400px" height="400px" [src]="previsualizacion" alt="">
      </div>
    </div>

    <div class="agregar">
      <button mat-raised-button color="primary" [disabled]="loading" (click)="guardar()">agregar</button>
    </div>


