
body{
    color: black;
    
}

.forms-fields{
    position: absolute;
    padding-left: 50px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

 .square {
    position:static;
    color: blue;
    padding-left: 40%;
    padding-top: 10%;

    height: 400px;
    width: 400px;
  }
  .fotito{
    text-align: center;
    color: white;
    height: 100%;
    width: 100%;
    position: relative;
  }
  .agregar{
    padding-top: 5%;
    padding-left: 80%;
  }