
body{
    color: black;
    
}

.example-container{
  color: black;
  padding-top: 5%;
}
.card{
  color: black;
}
.acordion{
  padding-top: 50%;
}

.form-field{
    position: absolute;
    padding-left: 40px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

  .agregar{
    padding-top: 40%;
    padding-left: 35%;
  }
